/*/.metadata/
/.recommenders/
Lab4_Q5_ficaTax/src/package1/FICATax.java
Lab4_Q6_MaxnDevisibleNumber/.classpath
Lab4_Q6_MaxnDevisibleNumber/.project
Lab4_Q6_MaxnDevisibleNumber/.settings/org.eclipse.jdt.core.prefs
Lab4_Q6_MaxnDevisibleNumber/src/package1/Menu.java
Lab4_Q6_MaxnDevisibleNumber/src/package1/MMath.java
Lab4_Q7_autoInsuranceRate/.classpath
Lab4_Q7_autoInsuranceRate/.project
Lab4_Q7_autoInsuranceRate/.settings/org.eclipse.jdt.core.prefs
Lab4_Q7_autoInsuranceRate/src/package1/Insurance.java
Lab4_Q7_autoInsuranceRate/src/package1/Menu.java
Lab5_Q1_quadraticEquation/.classpath
Lab5_Q1_quadraticEquation/.project
Lab5_Q1_quadraticEquation/.settings/org.eclipse.jdt.core.prefs
Lab5_Q1_quadraticEquation/src/package1/Menu.java
Lab5_Q1_quadraticEquation/src/package1/Quadratic.java
debug.log
debug.log*/
/.metadata/
